<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/index.css" rel="stylesheet" />
    <link href="~/Content/CSS/login.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/IMAGES/luxurylogo.jpg">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @*<script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>*@



    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    @*@Styles.Render("~/Content/CSS/layoutshare.css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/CSS/layoutshare.css" rel="stylesheet" />


    <!-- Site Icons -->
    <!--<link rel="shortcut icon" href="~/Assets/Admin/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Assets/Admin/images/apple-touch-icon.png">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/css/custom.css">
    @*<style>
            .fa-shopping-cart {
                position: fixed;
                bottom: 20px;
                right: 20px;
                font-size: 35px;
                background-color: #4dd0e1;
                z-index: 1000;
                border-radius: 50%;
                padding: 10px;
            }
        </style>*@
    <style>
        .side {
            z-index: 10000;
        }

        .badge {
            position: absolute;
            margin-left: -3px;
            border-radius: 50%;
            background-color: white;
            color: gray;
        }
        .float-right {
            float: right !important;
            margin-top: 5px;
        }
        li.total {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/Content/IMAGES/luxurylogo.jpg" height="30" width="30">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">LUXURY STORE</a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="input-search-2">
                <form class="form-inline">
                    <div class="d-flex justify-content-center h-100">
                        <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Search...">
                            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item input-search">
                        <div>
                            <form class="form-inline">
                                <div class="d-flex justify-content-center h-100">
                                    <div class="searchbar">
                                        <input class="search_input" type="text" name="" placeholder="Search...">
                                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item " id="list-dt">
                        <a class="nav-link" href="@Url.Action("Dienthoai","Home")">Điện thoại <span class="sr-only">(current)</span></a>
                        <ul id="list">
                            <li class="nav-1-1 first parent">
                                <a href="">Apple</a>
                                <ul style="padding-left: 10px;padding-right: 5px;">
                                    <li><a href="">iPhone 11 | 11 Pro | 11 ProMax</a></li>
                                    <li>
                                    <li><a href="">iPhone XS | XS Max</a></li>
                                    <li>
                                    <li><a href="">iPhone X | XR</a></li>
                                    <li>
                                    <li><a href="">iPhone 8 | 8 Plus</a></li>
                                    <li>
                                    <li><a href="">iPhone 7 | 7 Plus</a></li>
                                    <li>
                                    <li><a href="">iPhone 6S | 6S Plus</a></li>
                                    <li>
                                </ul>
                            </li>
                            <li class="menu-dt" style="margin-left: 240px; margin-top: -238px"><a href="">SAMSUNG</a></li>
                            <li class="menu-dt" style="margin-left: 240px;"><a href="">SONY</a></li>
                            <li class="menu-dt" style="margin-left: 240px;"><a href="">OPPO</a></li>
                            <li class="menu-dt" style="margin-left: 240px;"><a href="">VSMART</a></li>
                            <li class="menu-dt" style="margin-left: 240px;"><a href="">XIAOMI</a></li>
                            <li class="menu-dt" style="margin-left: 240px;"><a href="">ASUS</a></li>
                            <li class="menu-dt" style="margin-left: 240px;"><a href="">HUWEI</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Tainghe","Home")">Âm Thanh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Dongho","Home")">Đồng hồ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Trả góp</a>
                    </li>
                    <li class="nav-item" id="dv">
                        <a class="nav-link" href="#" id="sv">Dịch vụ</a>
                        <ul id="service">
                            <li><a href="#">Thay pin</a></li>
                            <li><a href="#">Ép kính</a></li>
                            <li><a href="#">Thay màn hình</a></li>
                            <li><a href="#">Sửa chữa</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Khuyến mãi</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Đăng nhập
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Account</a>
                            <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item" href="@Url.Action("Login","Admin")">Đăng nhập</a>
                            <!-- java không link đi đâu cả -->
                            <a class="dropdown-item" href="register.html">Đăng ký</a>
                            <!-- <a class="dropdown-item" href="javascripts:void(0);" data-toggle="modal" data-target="#modallogout">Log out</a> -->
                        </div>
                    </li>
                    <li class="side-menu" onclick="show_Cart()">
                        <div class="nav-link">
                            <i class="fas fa-cart-plus"></i>
                            <span class="badge" id="count">3</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="side" id="cart-custom">
        <a href="#" class="close-side">
            <i class="fa fa-times" onclick="closeCart()"></i>
        </a>
        <li class="cart-box">
            <ul class="cart-list" id="cart-item">
            </ul>
        </li>
        <li class="total">
            <a class="btn btn-default hvr-hover btn-cart" href="@Url.Action("Pay","Home")">Pay</a>
            <strong>Total:</strong><strong class="float-right" id="totalCost"></strong>
        </li>
    </div>

    @RenderBody()

    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <div class="footer-mg">
                    <h4 style="margin-bottom: 15px;">about</h4>
                    <p><a href="#">Chính sách mua hàng</a></p>
                    <p><a href="#">Đổi hàng trong vòng 7 ngày</a></p>
                    <p><a href="#">Giao hàng toàn quốc</a></p>
                    <a href="#"><i>Xem chi tiết >>></i></a>
                </div>

            </div>
            <div class="footer-section contact">
                <div class="footer-mg">
                    <h4>contact</h4>
                    <ul>
                        <li><a href="#"><span><i class="far fa-envelope"></i></span>LuxuryStore@gmail.com</a></li>
                        <li><a href="#"><span><i class="fas fa-map-marker-alt"></i></span>Đống Đa, Hà Nội</a></li>
                        <li><a href="#"><span><i class="fas fa-phone"></i></span>19005198</a></li>

                    </ul>
                </div>
            </div>
            <div class="footer-section social">
                <div class="social footer-mg">
                    <h4>Mạng xã hội</h4>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <br>
                    <button type="button" id="fback" class="btn btn-primary" data-toggle="modal" data-target="#feedback" data-whatever="getbootstrap">FEEDBACK</button>
                    <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedbackLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="feedbackLabel">New message</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                                            <input type="text" class="form-control" id="recipient-name">
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Message:</label>
                                            <textarea class="form-control" id="message-text"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Send message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; Luxurystore.com | Designed by LeeNam
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <!-- ALL JS FILES -->
    @*<script src="~/Assets/Admin/js/jquery-3.2.1.min.js"></script>
        <script src="~/Assets/Admin/js/popper.min.js"></script>
        <script src="~/Assets/Admin/js/bootstrap.min.js"></script>*@
    <!-- ALL PLUGINS -->
    <!--<script src="~/Assets/Admin/js/jquery.superslides.min.js"></script>
    <script src="~/Assets/Admin/js/bootstrap-select.js"></script>
    <script src="~/Assets/Admin/js/inewsticker.js"></script>
    <script src="~/Assets/Admin/js/bootsnav.js."></script>
    <script src="~/Assets/Admin/js/images-loded.min.js"></script>
    <script src="~/Assets/Admin/js/isotope.min.js"></script>
    <script src="~/Assets/Admin/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Admin/js/baguetteBox.min.js"></script>
    <script src="~/Assets/Admin/js/jquery-ui.js"></script>
    <script src="~/Assets/Admin/js/jquery.nicescroll.min.js"></script>
    <script src="~/Assets/Admin/js/form-validator.min.js"></script>
    <script src="~/Assets/Admin/js/contact-form-script.js"></script>
    <script src="~/Assets/Admin/js/custom.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        //$(document).ready(function () {
        //    $(".side-menu").click(function () {
        //        $(".side").addClass("on");
        //        showCart();
        //    });
        //    $(".close-side").click(function () {
        //        $(".side").removeClass("on");
        //    });
        //});

        function show_Cart() {
            document.getElementById("cart-custom").style.right = "0px";
            showCart();
        }
        function closeCart() {
            document.getElementById("cart-custom").style.right = "-280px";
        }
    </script>
    <script>
        //giỏ hàng
        var giohang = [];
        var sosp = 0;
        var tongtien = 0;
        //lấy item trong localstorage
        if (window.localStorage) {
            giohang = JSON.parse(window.localStorage.getItem("giohang"));
        }
        if (!giohang) {
            giohang = [];
        }
        if (giohang.length > 0) {
            for (i in giohang) {
                sosp += giohang[i].soluong;
                tongtien += giohang[i].soluong * giohang[i].gia;
            }
        }
        //add sản phẩm ào giỏ hàng
        function AddToCart(id, img, name, price) {
            for (i in giohang) {
                var exist = false;
                if (giohang[i].ma == id) {
                    giohang[i].soluong++;
                    sosp++;
                    tongtien += giohang[i].gia;
                    exist = true;
                }
            }
            if (!exist) {
                var sanpham = { ma: id, img: img, ten: name, gia: price, soluong: 1 };
                giohang.push(sanpham);
                sosp++;
                tongtien += sanpham.gia;
            }
            window.localStorage.setItem("giohang", JSON.stringify(giohang));
            toastr.success('Thêm vào giỏ hàng thành công', 'SUCCESS!!!');
            $('#count').text(sosp);
            $('#count2').text(sosp);
        }
        //ready
        $(document).ready(function () {
            $('#count').text(sosp);
            if (giohang.length == 0) {
                var cartNull = `<li class="none-product">
                                            <h4> Chưa có sản phẩm nào</h4>
                                        </li>`;
                $('#cart-item').html(cartNull);
            }
            showCart();
        })
        //hiển thị giỏ hàng
        function showCart() {
            var listShowCart = "";
            for (i in giohang) {
                listShowCart += `
                            <li class="li-itemCart" data-id='${giohang[i].ma}'>
                                <a href="#" class="photo"><img src="${giohang[i].img}" class="cart-thumb" alt=""></a>
                                <h6><a href="#">${giohang[i].ten}</a></h6>
                                <p>${giohang[i].soluong} - <span class="price">${giohang[i].gia}</span></p>
                                <div class="cart-close" data-id='${giohang[i].ma}' data-qty='${giohang[i].soluong}' data-price='${giohang[i].gia}'>
                                    <i class="far fa-times-circle" id="cart-close"></i>
                                </div>
                            </li>`;

                var payCart = "";
                for (i in giohang) {
                    payCart += `<tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
                                            <img class="img-fluid" src="${giohang[i].img}" alt="">
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                            ${giohang[i].ten}
                                        </a>
                                    </td>
                                    <td class="price-pr">
                                        <p>${giohang[i].gia}đ</p>
                                    </td>
                                    <td class="quantity-box"><input type="number" size="4" value="${giohang[i].soluong}" min="0" step="1" class="c-input-text qty text"></td>
                                    <td class="total-pr">
                                        <p>${giohang[i].gia * giohang[i].soluong}đ</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="#">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>`;
                }
            }
            $("#cart-item").html(listShowCart);
            $("#totalCost").html(tongtien + ' đ');
            $("#order-form-2-product").html(payCart);
            $("#totalCost-Pay").html(tongtien + ' đ');
            //$("#totalCost-Pay-2").html(tongtien + 30000 + ' VNĐ');
        }
        //xóa sản phẩm trong giỏ hàng
        removeCart();
        function removeCart() {
            $(document).on('click', '.cart-close', function () {
                let id = $(this).attr('data-id');
                let qty = $(this).attr('data-qty');
                let price = $(this).attr('data-price');
                tongtien -= price * qty;
                sosp -= qty;
                $("#totalCost").html(tongtien + ' đ');
                $('#count').text(sosp);
                giohang = giohang.filter(x => x.ma != id);
                window.localStorage.setItem("giohang", JSON.stringify(giohang));
                $('.li-itemCart[data-id="' + id + '"]').remove();
                toastr.success('Bạn đã xóa sản phẩm trong giỏ hàng', 'SUCCESS!!!');
            })
        }
        //xóa tất cả sản phẩm trong giỏ hàng
        function clearCart() {
            $('#count').text(0);
            $('#totalCost').text(0);
            //$('#cart-item').html('');
            var cartNull = `<li class="none-product">
                                        <h4> Chưa có sản phẩm nào</h4>
                                    </li>`;
            $('#cart-item').html(cartNull);
            localStorage.clear();
            //toastr.success('Bạn đã xóa tất cả sản phẩm trong giỏ hàng', 'SUCCESS!!!');
        }

        //đặt hàng
        jQuery.fn.serializeObject = function () {
            var formData = {};
            var formArray = this.serializeArray();
            for (var i = 0, n = formArray.length; i < n; ++i)
                formData[formArray[i].name] = formArray[i].value;
            return formData;
        };

        function checkValue() {
            var ShipName = document.getElementById("ShipName").value;
            var ShipMobile = document.getElementById("ShipMobile").value;
            var ShipEmail = document.getElementById("ShipEmail").value;
            var ShipAddress = document.getElementById("ShipAddress").value;
            if (ShipName == "" || ShipMobile == "" || ShipEmail == "" || ShipAddress == "") {
                toastr.error('Bạn chưa nhập đủ thông tin đơn hàng', 'ERROR!!!');
            }
            else {
                //biểu tượng load
                //var spinner = document.getElementById("spin");
                //spinner.style.display = "block";

                var dsDonHang = [];
                for (i in giohang) {
                    var totalPrice = giohang[i].soluong * giohang[i].gia;
                    var ctdh = { OrderID: 0, Name: giohang[i].ten, Quantity: giohang[i].soluong, Price: giohang[i].gia, TotalPrice: totalPrice, ProductID: giohang[i].ma };
                    dsDonHang.push(ctdh);
                }
                var data = JSON.stringify(dsDonHang);
                let data2 = $('#order-form').serializeObject();
                $.ajax({
                    url: '/Home/AddOrder',
                    data: { arr: dsDonHang, data2: data2 },
                    method: 'Post',
                    success: function () {
                        Swal.fire({
                            icon: 'success',
                            title: 'Đặt hàng thành công',
                            html: '<a href="/home/index"><b>MUA SẮM TIẾP</b></a> ',
                            text: 'Cảm ơn bạn đã luôn tin tưởng và ủng hộ SWE!',
                            footer: '<a href>Phản hồi vào số điện thoại : 0345500073</a>',
                        })
                        clearCart();
                    }
                });
            }
        }


        $('#opencart').click(function () {
            $('#cart').css("left", "0%");
            showCart();
        })
        //đóng men
        function cart_null() {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Giỏ hàng của bạn chưa có sản phẩm',
            })
        }
    </script>
</body>

</html>