
@{ ViewBag.Title = "DienThoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Dienthoai = (List<luxuryShop.Models.Enity.Product>)ViewBag.Category; }
<style>
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        margin: 20px 0;
    }

    p.card-text {
        height: 15vh;
    }

    .list {
        padding: 20px 0;
    }

        .list a {
            color: black;
            text-decoration: underline;
            transition: .3s all;
        }

            .list a:hover {
                background: black;
                color: white;
            }

        .list #back {
            text-transform: uppercase;
            font-weight: 500;
        }

    div#carouselExampleControls {
        margin-top: 75px !important;
    }
    .box-img-hover img {
        height: 200px !important;
        object-fit: contain;
    }
</style>
<section>
    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Assets/Admin/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Assets/Admin/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/css/custom.css">


    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        @*<div class="search-product">
                            <form action="#">
                                <input class="form-control" placeholder="Search here..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>*@
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">
                                        Apple
                                    </a>
                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">iPhone 12</a>
                                            <a href="#" class="list-group-item list-group-item-action">iPhone 11/ 11 Pro/ Pro Max</a>
                                            <a href="#" class="list-group-item list-group-item-action">iPhone X/XS Max</a>
                                            <a href="#" class="list-group-item list-group-item-action">iPhone 8/8 Plus</a>
                                            <a href="#" class="list-group-item list-group-item-action">iPhone SE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">
                                        SamSung
                                    </a>
                                    <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action">Galaxy S20/S20 Plus </a>
                                            <a href="#" class="list-group-item list-group-item-action">Note 20/ Note 20 Ultra</a>
                                            <a href="#" class="list-group-item list-group-item-action">Galaxy A</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="list-group-item list-group-item-action"> Oppo</a>
                                <a href="#" class="list-group-item list-group-item-action">Sony</a>
                                <a href="#" class="list-group-item list-group-item-action">Xiaomi</a>
                            </div>
                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <div id="slider-range"></div>
                                <p>
                                    <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                    <button class="btn hvr-hover" type="submit">Filter</button>
                                </p>
                            </div>
                        </div>
                        <div class="filter-brand-left">
                            <div class="title-left">
                                <h3>Brand</h3>
                            </div>
                            <div class="brand-box">
                                <ul>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios1" value="Yes" type="radio">
                                            <label for="Radios1"> Apple </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios2" value="No" type="radio">
                                            <label for="Radios2"> SamSung </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios3" value="declater" type="radio">
                                            <label for="Radios3"> Sony </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios4" value="declater" type="radio">
                                            <label for="Radios4"> Oppo </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios5" value="declater" type="radio">
                                            <label for="Radios5"> Xiaomi </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios6" value="declater" type="radio">
                                            <label for="Radios6"> Huawei </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios7" value="declater" type="radio">
                                            <label for="Radios7"> VSmart </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios8" value="declater" type="radio">
                                            <label for="Radios8"> ASUS </label>
                                        </div>
                                    </li>
                                    @*<li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios9" value="declater" type="radio">
                                            <label for="Radios9"> Mighty Healthy </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="survey" id="Radios10" value="declater" type="radio">
                                            <label for="Radios10"> Fiberops </label>
                                        </div>
                                    </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        @foreach (var item in Dienthoai)
                                        {
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        <img src="@item.Img" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" onclick="return location.href = '/Home/Detail/@item.ID'" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>
                                                            <a class="cart" href="#" onclick="AddToCart(@item.ID,'@item.Img','@item.Name',@item.Price)">Add to Cart</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <a href="#">@item.Name</a>
                                                        <h5>@(string.Format("{0:#,##0}", item.Price)) ₫</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 ALL JS FILES 
<script src="~/Assets/Admin/js/jquery-3.2.1.min.js"></script>
<script src="~/Assets/Admin/js/popper.min.js"></script>
<script src="~/Assets/Admin/js/bootstrap.min.js"></script>
 ALL PLUGINS 
<script src="~/Assets/Admin/js/jquery.superslides.min.js"></script>
<script src="~/Assets/Admin/js/bootstrap-select.js"></script>
<script src="~/Assets/Admin/js/inewsticker.js"></script>
<script src="~/Assets/Admin/js/bootsnav.js."></script>
<script src="~/Assets/Admin/js/images-loded.min.js"></script>
<script src="~/Assets/Admin/js/isotope.min.js"></script>
<script src="~/Assets/Admin/js/owl.carousel.min.js"></script>
<script src="~/Assets/Admin/js/baguetteBox.min.js"></script>
<script src="~/Assets/Admin/js/jquery-ui.js"></script>
<script src="~/Assets/Admin/js/jquery.nicescroll.min.js"></script>
<script src="~/Assets/Admin/js/form-validator.min.js"></script>
<script src="~/Assets/Admin/js/contact-form-script.js"></script>
<script src="~/Assets/Admin/js/custom.js"></script>

<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 50000000,
            values: [1000000, 10000000],
            slide: function (event, ui) {
                $("#amount").val(ui.values[0] + "đ - " +  ui.values[1] + "đ");
            }
        });
        $("#amount").val($("#slider-range").slider("values", 0)+"đ - " +
             $("#slider-range").slider("values", 1)+"đ");
    });
</script>