
@{
    ViewBag.Title = "DongHo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Watch = (List<luxuryShop.Models.Enity.Product>)ViewBag.Category;
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/Assets/Admin/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="~/Assets/Admin/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="~/Assets/Admin/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="~/Assets/Admin/css/custom.css">

<style>
    .box-img-hover img {
        height: 200px !important;
        object-fit: contain;
    }
</style>

<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Thể loại</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                            <div class="list-group-collapse sub-men">
                                <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">
                                    Đồng hồ
                                </a>
                                <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active">Apple Watch<small class="text-muted">(50)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action"> Galaxy Watch<small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">Huawei Watch <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">Miband<small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">Oppo Watch<small class="text-muted">(20)</small></a>
                                    </div>
                                </div>
                            </div>
                            @*<div class="list-group-collapse sub-men">
                                <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">
                                    Footwear
                                    <small class="text-muted">(50)</small>
                                </a>
                                <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action">Sports Shoes <small class="text-muted">(10)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">Sneakers <small class="text-muted">(20)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action">Formal Shoes <small class="text-muted">(20)</small></a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="list-group-item list-group-item-action"> Men  <small class="text-muted">(150) </small></a>
                            <a href="#" class="list-group-item list-group-item-action">Accessories <small class="text-muted">(11)</small></a>
                            <a href="#" class="list-group-item list-group-item-action">Bags <small class="text-muted">(22)</small></a>*@
                        </div>
                    </div>
                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>Price</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit">Filter</button>
                            </p>
                        </div>
                    </div>
                    <div class="filter-brand-left">
                        <div class="title-left">
                            <h3>Brand</h3>
                        </div>
                        <div class="brand-box">
                            <ul>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="Radios1" value="Yes" type="radio">
                                        <label for="Radios1"> Apple </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="Radios2" value="No" type="radio">
                                        <label for="Radios2"> Huawei </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="Radios3" value="declater" type="radio">
                                        <label for="Radios3"> Oppo </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="Radios4" value="declater" type="radio">
                                        <label for="Radios4"> SAMSUNG </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio radio-danger">
                                        <input name="survey" id="Radios5" value="declater" type="radio">
                                        <label for="Radios5"> Xiaomi </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="row product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @foreach (var item in Watch)
                                    {
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="new">New</p>
                                                    </div>
                                                    <img src="@item.Img" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="#" onclick="AddToCart(@item.ID,'@item.Img','@item.Name',@item.Price)">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <a href="#">@item.Name</a>
                                                    <h5>@(string.Format("{0:#,##0}", item.Price)) ₫</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ALL JS FILES -->
<script src="~/Assets/Admin/js/jquery-3.2.1.min.js"></script>
<script src="~/Assets/Admin/js/popper.min.js"></script>
<script src="~/Assets/Admin/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="~/Assets/Admin/js/jquery.superslides.min.js"></script>
<script src="~/Assets/Admin/js/bootstrap-select.js"></script>
<script src="~/Assets/Admin/js/inewsticker.js"></script>
<script src="~/Assets/Admin/js/bootsnav.js."></script>
<script src="~/Assets/Admin/js/images-loded.min.js"></script>
<script src="~/Assets/Admin/js/isotope.min.js"></script>
<script src="~/Assets/Admin/js/owl.carousel.min.js"></script>
<script src="~/Assets/Admin/js/baguetteBox.min.js"></script>
<script src="~/Assets/Admin/js/jquery-ui.js"></script>
<script src="~/Assets/Admin/js/jquery.nicescroll.min.js"></script>
<script src="~/Assets/Admin/js/form-validator.min.js"></script>
<script src="~/Assets/Admin/js/contact-form-script.js"></script>
<script src="~/Assets/Admin/js/custom.js"></script>

<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 50000000,
            values: [1000000, 10000000],
            slide: function (event, ui) {
                $("#amount").val(ui.values[0] + "đ - " + ui.values[1] + "đ");
            }
        });
        $("#amount").val($("#slider-range").slider("values", 0) + "đ - " +
            $("#slider-range").slider("values", 1) + "đ");
    });
</script>